body{
    background-color: #101010;
}

.img_bidder{
    width: 100%;
    height: auto;
}

.list_auction{
    font-size: calc(75% + 3vmin);
}
h1{
    font-size: calc(75% + 1.75vmin);
}
p{
    text-align: justify;
    font-size: calc(70% + 1vmin);
}

.variety{
    background-color: #2F2F2F;
    border-radius: 5px;
}